### DSC540 week 11 an 12 assignment
#### Austhor: Xin Tang
#### Date 2/30/24

In [1]:
# import necessary packages

import sqlite3

##### Activity 11: Retrieving Data Correctly From Databases
###### 2 tables: persons table and pet table, the id column in the persons table (which is an integer) serves as the primary key for that table and as a foreign key for the pet table, which is linked via the owner_id column.

In [2]:
# Person table has: first_name; lat_name; age; city; zip_code
# Pet table has: pet_name; pet_type; treatment_done flag
# DB is petsdb, which has been loaded into same directory

In [2]:
# step1: Connect to database and check the connection status:

conn = sqlite3.connect("petsdb")

#check if connection is good
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False
    
#print(is_opened(conn))

True

In [3]:
conn.close()

In [4]:
# Step2. Find the different age groups in the persons database

#open database again
conn = sqlite3.connect("petsdb")
c = conn.cursor()

#use  count to get total number, use GROUP BY to get specific group
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

In [7]:
# Step 3. Find the age group that has the maximum number of people

# use order by to get resylt ordered, then break after first print

for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break

Highest number of people 5 came from 73 age group

In [11]:
# Step4. Find the people who do not have a last name

# use IS null to find NA
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row[0], 'people do not have a last name')

60 people do not have a last name

In [31]:
# Step5. Find out how many people have more than one pet

#this can be done using owner_id from pet table
#first use count(owner_id)>1 to filter out any owner with one or less pet
#then use group by to select unique owner_id 
#last count of unique group by owner_id

res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for pet_owner in res:
    print("{} People has more than one pets".format(pet_owner[0]))

43 People has more than one pets

In [24]:
# Step 6. Find out how many pets have received treatment

res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row_treated in res:
    print(row_treated[0], 'pets have treatments')

36 pets have treatments

In [25]:
# Step 7. Find out how many pets have received treatment and the type of pet is known.

#same table, use AND to combine condition
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row[0])

16

In [26]:
#Step 8. How many pets are there from the city called "east port"

# this need both tables and JOIN-ON function, use persons table to get city and map to pets table 
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row1 in res:
    print(row1[0], 'pets are from east port')

49 pets are from east port

In [29]:
#Step 9. Find out how many pets are from the city called east port and who received a treatment.

# this also need both tables. variable from both tables has condition.
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")

for row2 in res:
    print(row2[0], 'pets are from east port have been treated')

11 pets are from east port have been treated